.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  border-radius: 10px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  margin: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.image {
  height: 150px;
  width: 150px;
  align-self: flex-end;
}
.heading {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: bold;
  font-size: 28px;
}
.description {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 24px;
}
